torch==2.6.0+cu124
torchvision
torchaudio
transformers
diffusers
accelerate
huggingface-hub
tokenizers
sentencepiece
timm
optimum
optimum-quanto
omegaconf
einops
safetensors
librosa
soundfile
scipy
pydub
opencv-python
av
moviepy==1.0.3
open-clip-torch
ftfy
pandas
cloudinary
requests
Pillow
numpy
fastapi
tqdm
